<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width ,initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='resources/css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendors/css/normalize.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendors/css/Grid.css')}}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">

    <title>HOME PAGE</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="row">
          <img src="../static/resources/img/logo.png" alt="logo-name" class="logo" href="www.google.com">
          <ul class="main-nav">
            <li><a href="/about">About</a></li>
            <li><a href="/stack">Stack</a></li>
            <li><a href="/">Home</a></li>
          </ul>
        </div>
      </nav>
      <div class="hero-text-box">
        <div class="typewriter">
          <div class="typewriter-text">

            <h1>Welcome, Be a part of our family!</h1>
          </div>
        </div>

        <a class="btn btn-full" href="/loginpage">Login</a>
        <a class="btn btn-ghost" href="/signuppage">Sign Up</a>
      </div>
    </header>
  </body>
</html>
